[core]
	editor = nvim

[alias]
    lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg1"
    dsf = "!git diff --color $@ | diff-so-fancy"
[user]
	email = joseadrian.lopezmartin@gmail.com
	name = Jose Lopez
	signingkey = 9F5C2278D8B5EAD3
[diff "sopsdiffer"]
	textconv = sops -d
[commit]
	gpgsign = true
[gpg]
	program = gpg2
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
  frag = magenta bold
  commit= yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
