[core]
  editor = nvim
  pager = delta

[alias]
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  lg = !"git lg1"
  # Open all modified files in editor
  edit = !$EDITOR $(git status --short | awk '$1 ~ /^M|A|U/ {print $2}' )

[user]
  email = joseadrian.lopezmartin@gmail.com
  name = Jose Lopez
  signingkey = 21E05D2241ABFE5D

[commit]
  verbose = true
  #gpgsign = true

[gpg]
  program = gpg2

[color]
  ui = true

[help]
  # prompts a fix for your command
  autocorrect = prompt

[column]
  # add column format for listing commands
  ui = auto

[branch]
  sort = -committerdate

[tag]
  # make sure tags 1.91.0 would be order before 1.100
  sort = version:refname

[diff]
  # better algorithm for diffs
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[push]
  # pushing without providing the "origin" will do it anyway
  autoSetupRemote = true

[fetch]
  prune = true
  pruneTags = true
  all = true

[merge]
  # includes the value before both changes
  conflictstyle = zdiff3

[pull]
  rebase = true

# delta diff
[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true     # use n and N to move between diff sections
  dark = true         # or light = true, or omit for auto-detection
  side-by-side = true
  line-numbers = true

