[Unit]
Description=Updates screen resolution on monitor changes

[Service]
Type=oneshot
User=<user>
RemainAfterExit=true
ExecStart=/home/<user>/scripts/monitors.sh
